<template>
    <div class="auth">
        <Login v-if="showLogin" @changeForm="changeForm" />  
        <Register @changeForm="changeForm" v-else/>  
    </div>
  
</template>

<script lang="ts" setup>
import { ref,Ref } from 'vue'
import Login from '../components/Auth/Login.vue'
import Register from '../components/Auth/Register.vue'

const showLogin = ref(false)

const changeForm=()=>{
    showLogin.value=!showLogin.value
}

</script>

<style lang="scss" scoped>
    .auth{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(180,182,30);
        background: linear-gradient(
            90deg,
            rgba(180,182,30,1) 0%,
            rgba(241,255,199,1) 100%
            );
    }
</style>