<template>
        <h1>Login</h1>
        <button @click="handleClick">Cambiar</button>
</template>

<script lang="ts" setup>

const emit=defineEmits(['changeForm'])

const handleClick=()=>{
    emit('changeForm')
}

</script>

<style scoped>

</style>