<template>
    
    <form class="ui form register" @submit.prevent="registerUser" :class="{error:formErrors.error}">
        <h1>Crear cuenta</h1>
        <div class="field">
            <input 
                type="text" 
                placeholder="Email" 
                v-model="formData.email"
                class="error"
            >
        </div>

        <div class="field">
            <input 
                type="password" 
                placeholder="Password" 
                v-model="formData.pwd"
            >
        </div>

        <div class="field">
            <input 
                type="password" 
                placeholder="Repetir contraseña" 
                v-model="formData.repeatPwd"
            >
        </div>
        <div class="ui error message">
            <div class="header">Se han encontrado los siguientes errores:</div>
            <ul v-for="(msg,index) in formErrors.msgError" v-bind:key="index">
                <li>{{ msg }}</li>
            </ul>
            
        </div>

        <button type="submit" class="ui button positive fluid" >Registrar</button>
        <p @click="handleClick">Iniciar sesión</p>
    </form>
    
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import * as Yup from "yup";

const emit=defineEmits(['changeForm']);

const formErrors=ref({
    error:false,
    email:false,
    pwd:false,
    repeatPwd:false,
    msgError:[]
})

const formData=ref({
    email:"",
    pwd:"",
    repeatPwd:""
});

let registerFormSchema=Yup.object({
    email:Yup.string().email().required('email obligatorio'),
    pwd:Yup.string().required('contraseña obligatoria').min(8),
    repeatPwd:Yup.string().required('repetir contraseña obligatoria').oneOf([Yup.ref("pwd")],true)
});

const handleClick=()=>{
    emit('changeForm')
}

const registerUser= async ()=>{

    formErrors.value.error=false;
    formErrors.value.email=false;
    formErrors.value.pwd=false;
    formErrors.value.repeatPwd=false;
    formErrors.value.msgError=[];

    try {
        await registerFormSchema.validate(formData.value,{abortEarly:false});
        console.log('todo ok');
    } catch (error) {
       formErrors.value.error=true;
       console.log(error)
        error.inner.forEach(e => {
            (formErrors.value)[e.path]=true
        });
        error.errors.forEach(e => {
            (formErrors.value).msgError.push(e)
        });
    }
}

</script>

<style lang="scss" scoped>
.register{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 400px;

    h1{
        text-align: center;
        margin-bottom: 30px;
    }
    
    p{
        text-align: center;
        margin-top: 30px;

    }
}
</style>